*{
    box-sizing: border-box;
}
.body-container {
    margin: 0;
    padding: 0;
    padding-left: 200px;   
}
.content-container {
    width: 100%;
    position: relative;
}
.patient-list {
    width: 100%;
    position: absolute;
    padding: 15px;
}
.header{
    margin: 10px 0;
}
.patients-table th,
.patients-table td {
    border: 1px solid #ddd;
}
.add-patient,.add-user,.cancle,.danger {
  float: right;
  margin: 10px 0;
}
.patients-table th,
.patients-table td {
    text-align: center;
}
.edit {
    padding: 0px 20px;
}
.patient-edit,
.users-list,
.user-edit
{
    display: none;
}
.validationComment{
    display: none;
    color: rgb(214, 29, 29);
    font-size: small;
}
